// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

a {
    text-decoration: none;
    color: $primary-color;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul{
        display: flex;
    }

    a{
        padding: 0.45rem;
        margin: 0 0.25rem;
        @include on-event {
            color: $primary-color;
        }
    }
}

// https://www.youtube.com/watch?v=IFM9hbapeA0