<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar bg-dark">
  <h1>
    <a href="dashboard.html">
      <i class="fas fa-code">DevConnector</i>
    </a>
  </h1>
  <ul>
    <li><a href="profiles.html">Developers</a></li>
    <li><a href="register.html">Register</a></li>
    <li><a href="login.html">Login</a></li>
  </ul>
</nav>

<main>
  <section class="landing">
    <div class="dark-overlay">
      <div class="landing-inner">
        <h1 class="x-large">
          <p class="lead">
          </p>
          <div class="buttons">
            <a href="register.html" class="btn btn-primary">Sign Up</a>
            <a href="login.html" class="btn btn-primary">Login</a>
          </div>
        </h1>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</main>
<footer>
  Derechos reservados 2019
</footer>